<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Página de inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-item lines="none" color="tertiary">
      <ion-label>Bienvenido <!--{{data.usuario}}-->usuario</ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-label>Puede abrir la camara con el boton<br>en la parte inferior</ion-label>
    </ion-item>
</ion-content>

<ion-footer>
  
  <ion-button expand="block" (click)="abrirCamara()">ABRIR CAMARA</ion-button>
  <!--
  <ion-button expand="block" (click)="registrar()">REGISTRAR ASISTENCIA</ion-button>
  -->
</ion-footer>
